# Large dataset files — too big for GitHub
UNSW-NB15_c/UNSW-NB15_1.csv
UNSW-NB15_c/UNSW-NB15_2.csv
UNSW-NB15_c/UNSW-NB15_3.csv
UNSW-NB15_c/UNSW-NB15_4.csv
UNSW-NB15_c/NUSW-NB15_GT.csv

# Python junk files
__pycache__/
*.pyc
.ipynb_checkpoints/
